.body{
    width: 25%;
    max-width: 400px;
    z-index: 200;
    background-color: rgb(0, 51, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}

.logo{
    width: 50%;
    cursor: pointer;
    margin: 5% 0 10%;
}

.input{
    width: 75%;
}

.btn{
    width: 75%;
    height: 40px;
    border-radius: 12px;
    background-color: rgb(90, 166, 123);
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin: 2% 0;
}

.loginBox{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.loginText, .loginBtn{
    color: white;
    font-size: 15px;
}

.loginBtn{
    cursor: pointer;
    font-weight: bold;
}

.loginBtn:hover{
    text-decoration: underline;
}

.diffCheck{
    color: red;
    margin: 0 0 0 10px;
    font-size: 13px;
}

.dupliCheckBtn{
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(90, 166, 123)
}

.idCheckedText{
    font-size: 10px;
    color: rgb(90, 166, 123);
    margin: 0 0 0 10px;
}