.infoContainer{
    height: calc(72% - 13px);
    width: 94%;
    position: absolute;
    top: 25%;
    margin: 0 3%;
    padding-top: 15px;
}

.infoMainImg{
    border: 1px solid gray;
    width: 80%;
    margin: 0 calc((20% - 2px) / 2);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 5px;
}

.infoLeft{
    width: 60%;
    display: inline-block;
    height: calc(100% - 15px);
    overflow: scroll;
}

.infoLeft::-webkit-scrollbar {
    display: none;
}

.infoRight{
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 15px;
    left: 60%;
    height: calc(100% - 30px);
}

.ingredientBox{
    border: 1px solid black;

    width: 80%;
    height: 70%;
    display: inline-block;
    overflow: scroll;
    aspect-ratio: 1 / 1;
}

.iconBox{
    border: 1px solid black;

    width: 80%;
    height: 25%;
    display: inline-block;
}

.infoStepBox{
    width: 90%;
    height: 100px;
    margin: 0 5%;

    border: 1px solid black;
}