.recipeBody{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.recipeBgImg{
    width: 100vw;
}

.recipeShowBox{
    position: fixed;
    top: 5vh;
    right: 7vw;
    width: 63vw;
    height: 90vh;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px black;
}

.recipeMenuBox{
    position: fixed;
    top: 5vh;
    left: 3vw;
    /* border: 1px solid white; */
    width: 24vw;
    height: 90vh;
}

.recipeLogo{
    position: absolute;
    bottom: 2vh;
    left: 3vw;
    width: 14vw;
}

.recipeMenuText{
    position: absolute;
    top: 10vh;
    left: 1vw;
    width: 22vw;
    /* border: 1px solid white; */
}

.menuTxtUnit{
    margin-bottom: 20px;
    cursor: pointer;
}

.koreanText, .englishText{
    color: white;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 10px black;
}

.koreanText{
    font-size: 6vh;
    margin-right: 5px;
}

.englishText{
    font-size: 4vh;
}