.recipeListHeader{
    position: relative;
    width: 100vw;
    height: 17vh;
}

.recipeNav{
    position: absolute;
    top: 17vh;
    left: 0;
    width: 100vw;
    height: 6vh;
    background-color: #001B11;
    display: flex;
    justify-content: center;
}

.listContainer{
    position: absolute;
    top: 23vh;
    width: 100vw;
    height: 77vh;
}

.headerIcon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vh 0;
    width: calc(100vw - 100px);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.headerRight{
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.recipeLogo{
    position: absolute;
    top: 8px;
    left: 45vw;
    width: 10vw;
    cursor: pointer;
    z-index: 100;
}

.recipeLogo img{
    width: 100%;
}

.communityImg, .myPageImg, .loginImg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navContainer{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 10vw 0 13vw;
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer p{
    cursor: pointer;
}

.listContainerHeader{
    width: 100vw;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.8;
}

.listHeaderText{
    position: absolute;
    top: 5vh;
    left: 41vw;
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    text-shadow: 0 0 5px black;
}

.listContainerBody{
    background-color: aquamarine;
    width: 100vw;
    height: 75%;
}