.infoContainer{
    height: calc(72% - 13px);
    width: 94%;
    position: absolute;
    top: 25%;
    margin: 0 3%;
    padding-top: 15px;
}

.infoMainImg{
    border: 1px solid gray;
    width: 80%;
    margin: 0 calc((20% - 2px) / 2);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 5px;
}

.infoLeft{
    width: 60%;
    display: inline-block;
    height: calc(100% - 15px);
    overflow: scroll;
}

.infoLeft::-webkit-scrollbar {
    display: none;
}

.infoRight{
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 15px;
    left: 60%;
    height: calc(100% - 30px);
}

.ingredientBox{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 7px;

    width: 80%;
    height: 70%;
    display: inline-block;
    overflow: scroll;
}

.ingredientBox::-webkit-scrollbar{
    display: none;
}

.iconBox{
    width: 80%;
    height: 25%;
    display: flex;
}

.infoStepBox{
    width: 90%;
    margin: 5% 5% 0 5%;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 20px;
}

.infoStepEach{
    margin: 2% 4%;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.532);
    display: flex;
    width: 92%;
    height: 20vh;
}

.infoStepImg{
    margin-bottom: 2%;
    object-fit: cover;
    object-position: center center;
    border-radius: 7px;
}

.stepTextBox{
    width: 69%;
    height: 94%;
}

.stepNum{
    margin: 0 3%;
    font-size: 3vh;
    font-weight: bold;
    height: 21%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.459);
}

.stepText{
    margin: 5px 0 0 4%;
    max-height: calc(76% - 5px);
    overflow: scroll;
}

.stepText::-webkit-scrollbar{
    display: none;
}

.infoIngredientSection{
    width: 95%;
    height: 100px;
    margin: 5px auto 0;


}

.sectionText{
    margin: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 2.7vh;

    border-bottom: 1px solid rgb(163, 163, 163);
}

.infoIngredientEach{
    display: flex;
    justify-content: space-between;
}

.ingredientName, .ingredientCount, .ingredientUnit{
    margin: 2px 0 0 0;
}

.ingredientName{
    max-width: 65%;
    height: 20px;
    margin-left: 4%;
}

.ingredientName::-webkit-scrollbar{
    display: none;
}

.ingredientAmount{
    display: flex;
}

.infoIconBoxEach{
    width: calc(100% / 3);
}

.infoIconImg{
    width: 70%;
    margin: 20% 15% 0;
}

.infoIconText{
    margin: 0;
    text-align: center;
    font-size: 17px;
}