.body{
    position: absolute;
    top: 15%;
    left: 0;
    height: 10%;
    width: 100%;
}

.left{
    position: absolute;
    bottom: 0;
    left: 5%;
}

.sort{
    margin-right: 20px;
    font-size: 22px;
    font-family: "Jua", sans-serif;
    color: gray;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.active{
    color: black;
}

.name{
    margin-right: 20px;
    font-size: 28px;
    font-family: "Jua", sans-serif;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: black;
}

.right{
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
}

.orderBtn{
    background-color: rgba(93, 12, 12, 0.715);
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 20px;
    color: white;
    font-family: "Jua", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.orderBtn:hover{
    background-color: rgb(72, 12, 12);
}

.wishImg{
    width: 2.5vw;
    cursor: pointer;
}