.mainBox{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.profileImg{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px gray;
    aspect-ratio: 1 / 1;

    transform: scale(0.9);
}

.infoBox{
    margin-left: 30px;
    width: 100%;
}

.infoUnit{
    height: 17%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.unitLabel{
    width: 25%;
    height: 70%;
    margin: 0;
    text-align: center;
    align-content: center;

    border-right: 1px solid rgb(87, 87, 87);
}

.unitText{
    width: 70%;
    height: 70%;
    margin: 0 0 0 5%;
    align-content: center;
}