.recipeName{
    margin-right: 20px;
    font-size: 200%;
    font-family: "Jua", sans-serif;
    color: black;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.left{
    width: 60%;
    height: 100%;
    overflow: scroll;
}

.left::-webkit-scrollbar{
    display: none;
}

.right{
    width: 40%;
    height: 100%;
}

.mainImg{
    width: 90%;
    margin: 5px calc((10% - 2px) / 2);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(155, 155, 155);
}

.stepBox{
    width: 96%;
    margin: 2% 2% 0 2%;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 20px;
}

.stepEach{
    margin: 2% 4%;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.532);
    display: flex;
    width: 92%;
    height: 20vh;
}

.ingreBox{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 7px;
    width: 90%;
    height: 70%;
    display: inline-block;
    overflow: scroll;
}

.ingreBox::-webkit-scrollbar{
    display: none;
}

.iconBox{
    width: 90%;
    height: 25%;
    display: flex;
}