.communityMain{
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

.communityBgImg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    opacity: 0.85;
}

.communityBox{
    position: fixed;
    top: 5vh;
    right: 7vw;
    width: 86vw;
    height: 90vh;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px black;
}

.communityHead{
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height:15%;
}

.communityHeadImg{
    border-radius: 20px 20px 0 0;
    width: calc(100% + 1px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.communityHeadText{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px black;
    cursor: pointer;
}

.communityLeftIcon{
    margin: 2vh 2vw;
    width: 3vw;
}

.communityIconBox{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 7vw;
    height: 90vh;
}

.communityBody{
    position: absolute;
    top: 20%;
    left: 0;
    width: 90%;
    margin: 0 5%;
    height: 65%;
}

.communityListBox{
    width: 100%;
    height: 100%;
}

.communityListHead, .communityListLine{
    width: 100%;
    height: 9%;
    display: flex;
}

.communityListLine{
    border-bottom: 1px solid rgba(120, 120, 120, 0.423);
}

.communityListHead{
    background-color: rgba(159, 135, 135, 0.422);

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.communityListBody{
    width: 100%;
    height: 90%;
    overflow: scroll;
    background-color: rgb(213, 213, 213);
}

.communityListBody::-webkit-scrollbar{
    display: none;
}

.listTitleUnit{
    width: 73%;
    cursor: pointer;
}

.listTitleUnit:hover{
    text-decoration: underline solid gray 1px;
}

.listNameUnit, .listDateUnit{
    width: 10%;
}

.listWatchUnit{
    width: 7%;
}

.listHeadUnit, .listLineUnit{
    align-content: center;
    font-size: 1rem;
}

.listHeadUnit, .lineCenter{
    text-align: center;
}

.listHeadUnit{
    font-weight: 600;
}

.listLineUnit{
    font-weight: 100;
}

.listTitleUnit.listLineUnit{
    width: 71%;
    padding-left: 2%;
}

.communityFooterBox{
    position: absolute;
    top: 87%;
    width: 90%;
    height: 6%;
    margin: 0 5%;
    display: flex;
}

.searchBox, .selectBoxContent{
    border-radius: 5px;
    background-color: rgb(194, 183, 168);
    border: 2px solid rgb(109, 75, 75);
}

.selectBox{
    width: 10%;
}

.searchBox{
    width: 70%;
    height: 74%;
    margin: 0.3% 0;
    display: flex;
}

.footerButtonBox{
    width: 20%;
}

.selectBoxContent{
    width: 90%;
    height: 80%;
    margin: 3.5% 0;
}

.searchButtonImg, .resetButtonImg{
    height: 50%;
    margin: 1% 1%;
    cursor: pointer;
}

.searchInput{
    width: 91%;
    background-color: rgb(194, 183, 168);
    border: none;
}

.searchInput:focus{
    outline: none;
}

.writeBoxVisible{
    height: 100%;
    float: right;
    cursor: pointer;
}

.writeForm, .watchForm{
    position: absolute;
    top:15%;
    width: 100%;
    height: 85%;
}

.communityWriteBox{
    position: absolute;
    top: 5%;
    left: 0;
    width: 80%;
    margin: 0 10%;
    height: 75%;


    border-radius: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.communityWriteBox{
    display: flex;
    flex-direction: column;
}

.communityWatchBox{
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 5%;
    left: 0;
    width: 80%;
    margin: 0 10%;
    height: 75%;


    border-radius: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.writeLabel{
    margin: 0;
    width: 7%;
    padding: 0 1%;
    height: 70%;
    align-content: center;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid rgb(87, 87, 87);
}

.titleBox, .nickNameBox, .writeContent{
    width: 80%;
    height: 10%;
    margin: 1% auto 0;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.564);
    background-color: rgb(213, 213, 213);

    border: 1px solid black;
}

.writeContent{
    height: 69%;
    justify-content: center;
}

.watchTextarea{
    width: 97%;
    height: 95%;
    background-color: rgb(213, 213, 213);
}

.writeTextarea{
    width: 97%;
    height: 95%;
    background-color: rgb(213, 213, 213);
    border: none;
    resize: none;
}

.writeTextarea:focus{
    outline-style: none;
}

.titleUnit, .nickNameUnit{
    margin-left: 1%;
    width: 40%;
}

.nickNameUnit{
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
}

.titleUnit{
    background-color: rgb(213, 213, 213);
    border: none;
    border-bottom: 1px solid rgb(61, 29, 29);
}

.writeButtonBox{
    position: absolute;
    top: 82%;
    height: 13%;

    width: 80%;
    margin: 0 10%;

    display: flex;
    justify-content: center;
}

.commonButton, .submitButton{
    border-radius: 50%;
    width: 7%;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 2%;
    cursor: pointer;
    background-color: rgb(213, 213, 213);
    border: none;

    box-shadow: 0 0 10px 3px gray;
}


.nickNameUnit{
    margin: 0 0 0 1%;
    width: 70%;
    overflow: scroll;
    align-content: center;
}

.writeDateUnit, .watchNameValue{
    margin: 0 0 0 2%;
    width: 79%;
    overflow: scroll;
    align-content: center;
}


/* watchPage */

.watchTitleUnit{
    margin: 0 0 0 1%;
    width: 89%;
    overflow: scroll;
    align-content: center;
}

.watchTitleUnit::-webkit-scrollbar, .nickNameUnit::-webkit-scrollbar{
    display: none;
}

.watchTitleBox, .watchWriteDate{
    width: 98%;
    height: 10%;
    margin: 1% 0 0 1%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.564);
    background-color: rgb(213, 213, 213);

    border: 1px solid black;
}

.watchNickName, .watchWriteDate{
    margin: 3% auto 0;
}

.watchLabel{
    margin: 0;
    width: 16%;
    padding: 0 1%;
    height: 70%;
    align-content: center;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid rgb(87, 87, 87);
}

.userDateBox{
    width: 100%;
    height: 10%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
}

.watchNickName, .watchWriteDate{
    width: 48%;
    margin: 0 1% 0;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.564);
    background-color: rgb(213, 213, 213);
}

.watchTitleLabel{
    margin: 0;
    width: 7%;
    padding: 0 1%;
    height: 70%;
    align-content: center;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid rgb(87, 87, 87);
}

.watchContent{
    width: 98%;
    height: 71%;
    margin: 0 auto;
    overflow: scroll;

    border-top: 2px solid gray;
}

.watchContent::-webkit-scrollbar{
    display: none;
}

.watchContentInner{
    width: 97%;
    margin: 1% auto;
    min-height: 89%;
    padding: 1%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.411);
    background-color: rgb(213, 213, 213);
    overflow-wrap: break-word;
}

.watchLeftBox{
    width: 80%;
}

.watchRightBox{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.commentWriteBox{
    width: 87%;
    height: 15%;
    padding: 3%;

    border: none;
    resize: none;
    border-radius: 5px;
    margin: 3% auto 0;
    box-shadow: 0 0 4px 1px black;
    background-color: rgb(213, 213, 213);
}

.commentWriteBox:focus{
    outline: none;
}

.commentListBox{
    width: 94%;
    height: 74%;
    margin: 5% auto 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.commentListBox::-webkit-scrollbar{
    display: none;
}

.watchCommentUnit{
    min-height: 70px;
    margin-bottom: 10px;
    flex-shrink: 0;
    
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border: 1px solid black;
}

.commentUnitHead{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.commentNickName, .commentWriteTime{

    margin: 0;
    align-content: center;
}

.commentWriteTime{
    font-size: 11px;
    margin-right: 5px;
    color: rgb(78, 78, 78);
}

.commentNickName{
    width: 48%;
    margin-left: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commentUnitContent{
    width: 90%;
    margin: 0 auto 3%;
    overflow-wrap: break-word;
}

.watchButtonBox{
    position: absolute;
    top: 82%;
    width: 80%;
    height: 13%;
    margin: 0 10%;
    display: flex;
    justify-content: center;
}

.goToList, .goToReWrite{
    border-radius: 50%;
    width: 7%;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 2%;
    cursor: pointer;
    background-color: rgb(213, 213, 213);
    border: none;
    box-shadow: 0 0 10px 3px gray;
}