.communityMain{
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

.communityBgImg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    opacity: 0.85;
}

.communityBox{
    position: fixed;
    top: 5vh;
    right: 7vw;
    width: 86vw;
    height: 90vh;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px black;
}

.communityHead{
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height:15%;
}

.communityHeadImg{
    border-radius: 20px 20px 0 0;
    width: calc(100% + 1px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.communityHeadText{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px black;
}

.communityLeftIcon{
    margin: 2vh 2vw;
    width: 3vw;
}

.communityIconBox{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 7vw;
    height: 90vh;
}

.communityBody{
    position: absolute;
    top: 20%;
    left: 0;
    width: 90%;
    margin: 0 5%;
    height: 65%;

    border: 1px solid black;
}

.communityListBox{
    width: 100%;
    height: 100%;

    border: 1px solid black;
}

.communityListHead, .communityListLine{
    width: 100%;
    height: 9%;
    display: flex;
}

.communityListLine{
    border-bottom: 1px solid rgba(120, 120, 120, 0.423);
}

.communityListHead{
    background-color: rgba(159, 135, 135, 0.422);

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.communityListBody{
    width: 100%;
    height: 90%;
    overflow: scroll;

    border: 1px solid black;
}

.communityListBody::-webkit-scrollbar{
    display: none;
}

.listTitleUnit{
    width: 73%;
}

.listNameUnit, .listDateUnit{
    width: 10%;
}

.listWatchUnit{
    width: 7%;
}

.listHeadUnit, .listLineUnit{
    align-content: center;
}

.listHeadUnit, .lineCenter{
    text-align: center;
}

.listHeadUnit{
    font-weight: 600;
}

.listLineUnit{
    font-weight: 100;
}

.listTitleUnit.listLineUnit{
    width: 71%;
    padding-left: 2%;
}