.label{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    color: white;
    outline: none;
    font-size: 90%;
}

.input{
    height: 37px;
    line-height: 37px;
    width: 99%;
}