# Node.js 관련
node_modules/          # npm 의존성 디렉토리
npm-debug.log          # npm 디버깅 로그
yarn-error.log         # yarn 디버깅 로그
package-lock.json      # npm 패키지 잠금 파일 (권장하지 않지만, 경우에 따라 제외할 수도 있음)

# 환경 설정 파일
.env                   # 환경 변수 파일 (개인적인 설정 포함)

# 운영체제 관련
.DS_Store              # macOS에서 생성되는 시스템 파일
Thumbs.db              # Windows에서 생성되는 파일

# IDE/editor 설정 파일
.vscode/               # Visual Studio Code 설정 폴더
.idea/                 # JetBrains IDE 설정 폴더
*.sublime-project      # Sublime Text 프로젝트 파일
*.sublime-workspace    # Sublime Text 워크스페이스 파일

# 로그 파일
*.log                  # 로그 파일들 (디버깅 시 생성된 로그 파일 등)

# 빌드 관련 파일
/dist/                 # 빌드된 파일 디렉토리
/build/                # 빌드된 파일 디렉토리
*.tgz                  # 빌드 아카이브 파일
*.zip                  # 압축된 빌드 파일

# 테스트 커버리지 파일
coverage/              # 테스트 커버리지 폴더 (예: Jest, Mocha)
*.lcov                 # 테스트 커버리지 파일

# 기타
*.bak                  # 백업 파일들