.body{
    width: 80%;
    height: 25%;
    display: flex;
    margin-left: 2%;
}

.unit{
    width: calc(100% / 3);
}

.unitImg{
    width: 70%;
    margin: 20% 15% 0;
}

.unitText{
    margin: 0;
    text-align: center;
    font-size: 17px;
}