.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
    z-index: 160;
    background-color: rgb(11, 86, 11);
    border-radius: 20px;
    transition: all 0.5s;
}

.logo{
    width: 45%;
    cursor: pointer;
    margin: 10% 0;
}

.idPwBtnBox{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}

.idBtn, .pwBtn{
    width: 40%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(0, 44, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.click{
    background-color: rgb(84, 150, 84);
}

.inputBox{
    width: 70%;
    margin: 10% 0 5%;
}

.searchBtn{
    width: 70%;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(90, 166, 123);
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.loginText{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2% 0 15%;
}

.loginBtn{
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.loginBtn:hover{
    text-decoration: underline;
}