.body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    z-index: 160;
    background-color: rgb(11, 86, 11);
    border-radius: 20px;
    transition: all 0.5s;
}

.logo{
    width: 45%;
    cursor: pointer;
    margin: 10% 0;
}

.inputBox{
    width: 70%;
    height: 20%;
}

.loginBtn{
    width: 72%;
    height: 45px;
    border-radius: 12px;
    background-color: rgb(90, 166, 123);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 4% 0;
}

.hrAndOr{
    width: 80%;
    display: flex;
    color: white;
}

.or{
    margin: 0;
}

.hr{
    width: 35%;
    border: none;
    border-bottom: 1px solid white;
}

.findBtn{
    color: rgb(157, 157, 196);
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    width: 70%;
    text-align: end;
    margin-bottom: 1%;
}

.findBtn:hover{
    text-decoration: underline;
}

.sns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 67%;
    margin: 5% 0;
}

.google, .naver, .kakao{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    width: 20%;
}

.kakao{
    background-color: yellow;
}

.naverIcon, .googleIcon, .kakaoIcon{
    height: 100%;
    border-radius: 50%;
}

.kakaoIcon{
    height: 80%;
}

.joinBox{
    width: 75%;
    display: flex;
    justify-content: center;
    color: white;
    margin: 3% 0 10%;
}

.joinBtn{
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.joinBtn:hover{
    text-decoration: underline;
}