body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    overflow: hidden;
}

.mainSection{
    width: 100vw;
    height: calc(100vh);
    overflow: hidden;
    position: relative;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
}

#mainVideo{
    width: 1500px;
    height: 791px;
    object-fit: scale-down;
    object-position: center center;
}


