html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    overflow-x: hidden;
}

.mainSection{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.lastSection{
    z-index: 151;
}

#mainVideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

.mainLeft{
    position: fixed;
    top: 0;
    left: 0;
    width: 17vw;
    height: 100vh;
    z-index: 140;
}

.mainTop{
    position: fixed;
    top: 0;
    left: 17vw;
    width: 83vw;
    height: 65vh;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.432);
    border-left: 1px solid rgba(255, 255, 255, 0.432);
}

.mainBottom{
    position: fixed;
    top: 65vh;
    left: 17vw;
    width: 83vw;
    height: 35vh;
    z-index: 100;
    border-left: 1px solid rgba(255, 255, 255, 0.432);
}

.mainLogo{
    position: absolute;
    top: 5vh;
    left: 3vw;
    z-index: 150;
    width: 12vw;
}

.mainIconBox{
    position: absolute;
    top: 89vh;
    left: 3vw;
    width: 11vw;
    height: auto;
    /* z-index: 101; */
    display: flex;
    justify-content: space-between;
}

.mainIconBox a{
    height: 50px;
}

.mainMenuButton{
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-around;
    padding-top: calc(1vh - 6px);
    /* z-index: 150; */
}

.mainMenuButton hr:nth-of-type(1){
    width: 3vw;
}

.mainMenuButton hr:nth-of-type(2){
    width: calc(3vw - 10px);
}

.mainMenuButton hr:nth-of-type(3){
    width: calc(3vw - 5px);
}

.mainMenuButton hr{
    display: inline-block;
    background-color: white;
    height: calc(1vh - 4px);
    
    margin: 0;
    border: 0;
}

.mainMenuButton, .mainLoginButton, .mainProfileButton{
    width: 3vw;
    cursor: pointer;
}

.mainLoginButton, .mainProfileButton{
    display: inline-block;
}

.mainLoginButton.hidden, .mainProfileButton.hidden{
    display: none;
}

.topText, .bottomText{
    color: white;
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin: 0;
    text-shadow: 2px 2px 10px black;
}

.topText{
    position: absolute;
    top: 3vh;
    left: 20vw;
}

.bottomText{
    position: absolute;
    top: 68vh;
    right: 3vw;
    text-align: end;
}

#mainMenuModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.99);
    z-index: 110;
}

.joinBox{
    position: absolute;
    top: 5vh;
    right: 5vw;
    height: 90vh;
    width: 380px;
    z-index: 200;
    background-color: rgb(0, 51, 0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.LoginLogo{
    position: absolute;
    top: 30px;
    width: 180px;
}

.LoginInput{
    position: absolute;
    top: 180px;
    width: 70%;
}

.eachLabel{
    display: block;
    color: white;
    font-weight: bold;
}

.eachInput{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    height: 30px;
    margin-bottom: 5px;
}

.joinButton{
    position: absolute;
    bottom: 9vh;
    width: 72%;
    height: 6vh;
    border-radius: 12px;
    background-color: rgb(90, 166, 123);
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.textLoginBox{
    position: absolute;
    bottom: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.joinBox span{
    color: white;
    font-size: 15px;
}

.goToLoginText{
    cursor: pointer;
}

.goToLoginText:hover{
    text-decoration: underline;
}

.mainCategoryText{
    z-index: 140;
    position: absolute;
    top: 20vh;
    left: 39vw;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 1s all;
}

.mainCategoryText div{
    height: 70px;
    overflow: hidden;
}

.menuText{
    cursor: pointer;
    margin: 5px 0;
    padding-top: 0px;
    transition: all 1s;
    opacity: 1;
    pointer-events: auto;
}

.menuText.noneShow{
    padding-top: 20px;
    pointer-events: none;
    opacity: 0;
}