.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 93%;
    margin: 2% 5% 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.head{
    position: relative;
    width: 95%;
    height: 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.soltBox{
    width: 60%;
    position: absolute;
    bottom: 0;
    display: flex;
}

.soltUnit{
    margin-right: 20px;
    font-size: 22px;
    font-family: "Jua", sans-serif;
    color: gray;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.active{
    color: black;
}

.body{
    width: 95%;
    height: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
}

.body::-webkit-scrollbar{
    display: none;
}

.listBtn, .writeBtn, .enrollBtn, .editBtn, .deleteBtn{
    height: 90%;
    float: right;
    cursor: pointer;
}

.editBtn, .deleteBtn{
    margin-right: 5px;
}

.wishBtn{
    height: 80%;
    margin-top: 0.8%;
    cursor: pointer;
    float: right;
}

.enrollBtn{
    margin-right: 5px;
}