/*Customer 공통 --------------------------------------------------------------------------------------*/
.customerPgBox{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    
}

.customerBgImg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    opacity: 0.85;
}

/*Icon Box*/
.customerIconBox{
    position: absolute;
    top: 5vh;
    left: 3vw;
    width: 24vw;
    height: 10vh;
}

.customerLeftIcon{
    margin: 0 0.5vw;
    width: 3.5vw;
}

/*Menu Box*/
.customerMenuBox{
    position: fixed;
    top: 15vh;
    left: 3vw;
    width: 24vw;
    height: 80vh;
}

.menuLogo{
    position: absolute;
    bottom: 2vh;
    left: 3vw;
    width: 14vw;
}

.customerMenuText{
    position: absolute;
    top: 0;
    left: 1vw;
    width: 22vw;
}

.customerMenuTxtUnit{
    margin-bottom: 20px;
}

.customerKoreanText, .customerEnglishText{
    color: white;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 10px black;
}

.customerKoreanText{
    font-size: 6vh;
    margin-right: 5px;
    cursor: pointer;
}

.customerEnglishText{
    font-size: 4vh;
}

/*가상 선택자*/
.customerKoreanText:hover{
    color: burlywood;
}


/*Show Box ---------------------------------------------------------------------------------------------------------------------------*/
.customerShowBox{
    position: fixed;
    top: 5vh;
    right: 7vw;
    width: 63vw;
    height: 90vh;
    background-color: rgb(182, 182, 182);
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px black;
}

/*Head*/
.customerShowHead{
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height:15%;
}

.customerHeadImg{
    border-radius: 20px 20px 0 0;
    width: calc(100% + 1px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.customerHeadText{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px black;
}

/*Body Box ---------------------------------------------------------------------------------------------------------------------*/
.customerShowBody{
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
}

.customerInfoBox, .customerRecipeBox, .customerFoodsBox, .customerWishListBox{
    width: 90%;
    height: 93%;
    margin: 2% 5% 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

/*Info Box ------------------------------------------------------------------------------------------------------------*/
.customerInfoBoxInner{
    width: 70%;
    height: 70%;
    margin: 2% 15% 0 15%;
}

.infoBoxInnerMain{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.profileImg{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px gray;
    aspect-ratio: 1 / 1;

    transform: scale(0.9);
}

.customerInfoUnits{
    width: 100%;
}

.customerInfoUnit{
    height: 17%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoUnitLabel{
    width: 25%;
    height: 70%;
    margin: 0;
    text-align: center;
    align-content: center;

    border-right: 1px solid rgb(87, 87, 87);
}

.infoUnitText{
    width: 70%;
    height: 70%;
    margin: 0 0 0 5%;
    align-content: center;
}

.passwordChangeBox{
    height: 30%;
    align-content: center;
}

.passwordCheckBox{
    width: 70%;
    height: 30%;
    margin: 0 15%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.passwordCheckLabel{
    width: 19%;
    border-right: 1px solid rgb(87, 87, 87);
}

.passwordCheckInput{
    height: 70%;
    border: none;
    margin-left: 3%;
    background-color: rgb(182, 182, 182);
    border-bottom: 1px solid black;
}

.passwordCheckBtn{
    margin-left: 7%;
    width: 15%;
    background-color: rgb(136, 77, 77);
    color: white;
    font-weight: bold;
    cursor: pointer;

    border: none;
    border-radius: 5px;
}

.passwordUpdateBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordUpdateInner{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.passwordUpdateLabel{
    border-right: 1px solid rgb(87, 87, 87);
    padding-right: 3%;
    margin: 1% 0 1% 0;
}

.passwordNewLabel{
    padding-right: 11%;
}

.passwordUpdateInput{
    margin-left: 3%;

    background-color: rgb(182, 182, 182);
    border: none;
    border-bottom: 1px solid black;
}

.passwordUpdateBtn{
    width: 15%;
    background-color: rgb(136, 77, 77);
    margin-top: 1%;
    color: white;
    font-weight: bold;
    cursor: pointer;

    border: none;
    border-radius: 5px;
}

.customerInfoBtnBox{
    width: 70%;
    height: 13%;
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoUnderBtn{
    border-radius: 10%;
    width: 20%;
    height: 70%;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 2%;
    cursor: pointer;
    background-color: rgb(213, 213, 213);
    border: none;

    box-shadow: 0 0 10px 3px gray;
}

/*가상 선택자*/
.passwordCheckInput:focus{
    outline: none;
}

.passwordUpdateInput:focus{
    outline: none;
}

/*Recipe Box --------------------------------------------------------------------------------------------------------*/
.customerRecipeBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customerRecipeHead{
    position: relative;
    width: 95%;
    height: 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.customerRecipeSolt{
    width: 40%;
    position: absolute;
    bottom: 0;
}

.headSoltUnit{
    margin-right: 20px;
    font-size: 22px;
    font-family: "Jua", sans-serif;
    color: gray;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.headSoltUnit.active{
    color: black;
}

.customerRecipeBody{
    width: 95%;
    height: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
}

.goToRecipeList, .addRecipeBtn{
    height: 70%;
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

/*가상 선택자*/
.customerRecipeBody::-webkit-scrollbar{
    display: none;
}

/*Recipe Show ------------------------------------------------------------------------------------------------------------*/

/*List*/
.recipeListUnit{
    border-radius: 10px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.7);
    height: 280px;
    width: 29%;
    margin: 0 calc(7% / 6) 20px;
    min-width: 246px;
    cursor: pointer;
    transition: all 0.5s;

    border: 1px solid black;
}

.customerListImg{
    width: calc(90% - 2px);
    height: 70%;
    object-fit: cover;
    overflow: hidden;
    margin: 10px 5% 0;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.7);
}

.customerListInfo{
    position: relative;
    width: 100%;
    height: calc(30% - 15px);

}

.customerListText{
    margin: 0;
    width: 100%;
    font-size: 22px;
    font-family: "Jua", sans-serif;
    text-align: center;
}

.customerListStars{
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.customerListWatchs{
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 70px;
    height: 20px;
    border: 1px solid black;
}

/*Info*/
.recipeInfoTitle{
    margin-right: 20px;
    font-size: 22px;
    font-family: "Jua", sans-serif;
    color: black;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.customerRecipeLeft{
    width: 60%;
    height: 100%;
    overflow: scroll;
}

.customerRecipeRight{
    width: 40%;
    height: 100%;
}

.customerRecipeMainImg{
    border: 1px solid gray;
    width: 90%;
    margin: 0 calc((10% - 2px) / 2);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 5px;
}

.customerRecipeStepBox{
    width: 96%;
    margin: 2% 2% 0 2%;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 20px;
}

.customerRecipeStepEach{
    margin: 2% 4%;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.532);
    display: flex;
    width: 92%;
    height: 20vh;
}

.customerRecipeIngredientBox{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 7px;
    width: 90%;
    height: 70%;
    display: inline-block;
    overflow: scroll;
}

.customerRecipeIconBox{
    width: 90%;
    height: 25%;
    display: flex;
}

/*가상 선택자*/
.recipeListUnit:hover{
    scale: 1.03;
}

.customerRecipeLeft::-webkit-scrollbar{
    display: none;
}

/*Recipe Write --------------------------------------------------------------------------------------------------------*/
.cusRecipeWriteLeft{
    overflow: scroll;
    width: 60%;
    height: 100%;
}

.cusRecipeWriteRight{
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cusWrRecipeName{
    background-color: rgb(182, 182, 182);
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100%;
    font-size: 2.5vh;
    margin-bottom: 10px;
    border-radius: 5px;
}

.reciMainImgBox{
    border: 1px solid gray;

    width: 70%;
    margin: 2% calc((30% - 2px)/2);
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 5px;
}

.cusWrExtraInfoBox{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;

    margin: 3% auto 0;
    width: 95%;
    height: 12%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cusWrExtraInfoInput{
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
    background-color: rgb(182, 182, 182);
}

.cusWrExtraInfoUnit{
    width: 33%;
}

.cusWrExtraVolumeBox{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cusWrExtraVolume{
    width: 40%;
    height: 50%;
}

.cusWrExtraTime{
    width: 25%;
    height: 50%;
}

.cusWrExtraLevel{
    width: 20%;
    height: 50%;
    border-radius: 5px;

    background-color: rgb(182, 182, 182);
}

.cusStepPlusBtn, .cusWrIngreBtn{
    cursor: pointer;
    transition: 0.5s all;
}

/*Step*/
.cusRecipeWrStepBox{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 90%;
    margin: 2% 5%;
    border-radius: 10px;
    padding: 2% 0;
}

.cusRecipeStepPlus{
    border: 1px solid black;

    width: 95%;
    margin: 0 calc((5% - 2px)/2);
    height: 17vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cusReciWrStepUnit{
    border: 1px solid black;

    width: 95%;
    margin: 0 calc((5% - 2px)/2) 5px;
    height: 25vh;
}

.cusStepUnitContent{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid black;

    display: flex;
}

.cusStUniContLeft{
    width: 30%;
    border-right: 1px solid black;
}

.cusStUniContInput{
    width: 100%;
}

.cusStUniContImg{
    border: 1px solid gray;
    width: 90%;
    aspect-ratio: 1/1;
    margin: 0 calc((10% - 2px)/2);
    object-fit: contain;
    border-radius: 5px;
}

.cusStUniContRight{
    width: 70%;
}

.cusStepUniOrder{
    width: calc(100% - 5px);
    height: 15%;
    font-weight: bold;
    padding-left: 5px;

    border-bottom: 1px solid black;
}

.cusStepUniDes{
    border: none;
    width: 95%;
    height: 78%;
    margin: 1% 2%;
    background-color: rgb(182, 182, 182);
    resize: none;
}

.cusStepUnitDelete{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Ingredient*/
.cusWrIngreBox{
    overflow: scroll;
    width: 100%;
    height: 85%;
    border-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cusWrIngrePlus{
    width: 95%;
    height: 17vh;
    margin: 5px auto;

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cusWrIngreSec{
    width: 95%;
    margin: 3px auto;

    border: 1px solid black;
    border-radius: 5px;
}

.cusWrIngreSecHead{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.cusWrIngreSecHeadName{
    width: 80%;
    height: 80%;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 17px;
    background-color: rgb(182, 182, 182);
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
}

.cusWrIngreSecHeadImg{
    height: 23px;
    margin-left: 3%;
    cursor: pointer;
    transition: 0.5s all;
}

.cusWrIngreEach{
    width: 98%;
    height: 25px;
    margin-left: 2%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.cusIngreEachName{
    width: 50%;
}

.cusIngreEachVolume{
    width: 15%;
}

.cusIngreEachPortion{
    width: 15%;
    
}

.cusIngreEachName, .cusIngreEachVolume, .cusIngreEachPortion{
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;

    background-color: rgb(182, 182, 182);

    height: 70%;
}

.cusIngreEachDel{
    height: 75%;
    cursor: pointer;
    transition: 0.5s all;
}

.cusWrIngreEachPlus{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cusWrIngreEachAddImg{
    height: 80%;
    cursor: pointer;
    transition: 0.5s all;
}

/*가상 선택자*/
.cusRecipeWriteLeft::-webkit-scrollbar, .cusRecipeWriteRight::-webkit-scrollbar{
    display: none;
}

.cusWrRecipeName:focus{
    outline: none;
}

.cusStepPlusBtn:hover, .cusWrIngreBtn:hover{
    scale: 1.2;
}

.cusWrIngreSecHeadName:focus{
    outline: none;
}

.cusWrIngreSecHeadImg:hover{
    scale: 1.1;
}

.cusIngreEachName:focus, .cusIngreEachVolume:focus, .cusIngreEachPortion:focus{
    outline: none;
}

.cusIngreEachDel:hover{
    scale: 1.2;
}

.cusWrIngreEachAddImg:hover{
    scale: 1.3;
}